body {
    background-color: #000;
    margin: 0;
    --bg-color-one: rgb(139, 11, 11);
    --bg-color-two: rgb(67, 21, 121);
    --bg-color-three: rgb(4, 76, 117);
    --bg-color-four: rgb(173, 154, 41);
}

.container {
    position: relative;
    width: 100%;
    /*max-width: 1000px;*/
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.card-slip {
    position: relative;
    width: 18%;
    height: 65%;
    max-width: 174px;
    max-height: 424px;
    margin: auto;
    z-index: 2;
}

.card {
    position: absolute;
    height: calc(100% - 24px);
    width: calc(100% - 24px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.front {
    border: 12px solid black;
}

.card.back {
    background-color: black;
    outline: 8px solid black;
    transform: rotateY(180deg);
}

#background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* ANIMATIONS */

/* CARD FLIP */

.card-slip:hover .card.front{
    transform: rotateY(180deg);
}

.card-slip:hover .card.back{
    transform: rotateY(0deg);
}

/* BACKGROUND RECOLOUR - FADE-IN */

.card-slip.one:hover ~ #background {
    background-color: var(--bg-color-one);
}

.card-slip.two:hover ~ #background {
    background-color: var(--bg-color-two);
}

.card-slip.three:hover ~ #background {
    background-color: var(--bg-color-three);
}

.card-slip.four:hover ~ #background {
    background-color: var(--bg-color-four);
}

/* Card specific coloring */

/* CARD ONE */
.card.one.front {
    background-color: var(--bg-color-one);
    outline: 8px solid var(--bg-color-one);
}
.card.one.back {
    border: 12px solid var(--bg-color-one);
}

/* CARD TWO */
.card.two.front {
    background-color: var(--bg-color-two);
    outline: 8px solid var(--bg-color-two);
}
.card.two.back {
    border: 12px solid var(--bg-color-two);
}

/* CARD THREE */
.card.three.front {
    background-color: var(--bg-color-three);
    outline: 8px solid var(--bg-color-three);
}
.card.three.back {
    border: 12px solid var(--bg-color-three);
}

/* CARD FOUR */
.card.four.front {
    background-color: var(--bg-color-four);
    outline: 8px solid var(--bg-color-four);
}
.card.four.back {
    border: 12px solid var(--bg-color-four);
}